---
import "../styles/generel.css"
---


<section class="flex ">
<h1  class="acc_titel center">Q&A</h1>
<div class="flex_acc center ">
    <details>
    <summary>
        Hvordan kan vi gøre tekstilindustrien mere bæredygtig?
    </summary>
    <article>
   <p> Hvert år bliver der produceret mere end 80 milliarder stykker tøj globalt, hvilket er en betydelig mængde. Men sammen med den glæde og stil, de bringer os, kommer også en udfordring: affald og miljøpåvirkning. Ifølge eksperter fra World Economic Forum genererer modeindustrien årligt omkring 92 millioner tons affald og står for 10% af den samlede CO2-udledning.
</p>
<p>
    Men der er håb i horisonten! Genanvendelse af tekstiler kan spille en afgørende rolle i at mindske denne påvirkning. Ved at genanvende en lille del af tekstilaffaldet kan vi spare betydelige mængder CO2 og vand årligt, ifølge data fra Ellen MacArthur Foundation.
  </p>
  <p>
    Men vi kan ikke løse dette problem alene gennem genanvendelse. Vi skal også tage et kig på vores forbrugsmønstre og prioritere kvalitet og bæredygtighed. Ved at forlænge levetiden for vores tøj og værdsætte hvert stykke kan vi skabe en mere stabil og ansvarlig fremtid for tekstilindustrien. Lad os gå denne vej sammen og skabe en positiv forandring, én fiber ad gangen.
</p>
</article>
    </details>

    <details>
        <summary>
            Hvilke værdier kan "I Tråd Med Verden" skabe for os?
        </summary>
        <article>
      <p>
        "I Tråd Med Verden" (ITMV) skaber flere værdier for samarbejdende virksomheder gennem deres Repair Service og andre initiativer:</p>
        <ol>
            <li>
                <h3>Bæredygtighed og miljøansvar</h3>
                <p>Ved at tilbyde en reparationstjeneste bidrager ITMV til virksomhedernes bæredygtighedsstrategier ved at forlænge levetiden på tøj og reducere behovet for nyproduktion. Dette hjælper virksomheder med at mindske deres miljøpåvirkning og CO2-fodaftryk.</p>
            </li>
            <li>
                <h3>Socialt ansvar og empowerment</h3>
                <p>Samarbejdet med ITMV giver virksomheder mulighed for at støtte socialt ansvarlige initiativer, der skaber positive sociale forandringer. Ved at investere i udsatte kvinder og skabe lønnede timer til syerskerne gennem Repair Service, bidrager virksomhederne til øget økonomisk empowerment og social inklusion.</p>
            </li>
            <li>
                <h3>Differentiering og brandværdi</h3>
                <p>Ved at tilbyde en unik reparationstjeneste til deres medarbejdere differentierer virksomheder sig fra konkurrenterne og styrker deres brandidentitet som en ansvarlig og bæredygtig virksomhed. Dette kan forbedre deres omdømme og appellere til både kunder og potentielle medarbejdere, der værdsætter virksomhedens sociale og miljømæssige engagement.</p>
            </li>
            <li>
                <h3>Medarbejderengagement og trivsel</h3>
                <p>"Grundlæggende tror jeg, vi alle sammen er optagede af, hvordan vi også hver især kan lette klimaaftrykket i hverdagen. Der er Repair-service en skøn og oplagt mulighed. Og så har vi alle noget tøj liggende, der trænger til at blive syet, men vi får det ikke lige gjort. Og ITMV's syersker syr bare så flot, så man går derfra med fornyet glæde over sit tøj. Så behøver man ikke at købe nyt."</p>
            </li>
        </ol>
        <p>Samlet set skaber samarbejdet med ITMV mulighed for virksomhederne for at opfylde deres bæredygtigheds- og ESG-mål samtidig med at de differentierer deres brand og investerer i medarbejdernes trivsel</p>
    </article>
    </details>

    <details>
      <summary>
          et til spørgsmål
      </summary>
      <article>
     <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad aliquid iste culpa tempora mollitia iure quibusdam nulla sit ratione suscipit nihil ex esse, labore rerum delectus blanditiis ullam id.
  </p>
  </article>
    </details>

    <details>
        <summary>
            et til spørgsmål
        </summary>
        <article>
       <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad aliquid iste culpa tempora mollitia iure quibusdam nulla sit ratione suscipit nihil ex esse, labore rerum delectus blanditiis ullam id.
    </p>
    </article>
    </details>

    <details>
          <summary>
              et til spørgsmål
          </summary>
          <article>
         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad aliquid iste culpa tempora mollitia iure quibusdam nulla sit ratione suscipit nihil ex esse, labore rerum delectus blanditiis ullam id.
      </p>
      </article>
    </details>

    <details>
            <summary>
                et til spørgsmål
            </summary>
            <article>
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad aliquid iste culpa tempora mollitia iure quibusdam nulla sit ratione suscipit nihil ex esse, labore rerum delectus blanditiis ullam id.
        </p>
        </article>
    </details>
</div>
</section>

<style>

  .acc_titel {
    writing-mode: vertical-rl;
text-orientation: upright;
font-size: 7rem;
  }
details, summary, article {
    width: 500px;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 1000px) {
    details, summary, article {
    width: auto;
    margin-bottom: 0.5rem;
  }

  }
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    margin-bottom: 0;
    padding: 0.5rem;
    border-bottom: 1px #3e5c6d solid;
    font-weight: bold;
    /* border-top: 1px #3e5c6d solid; */
    /* background-color: lightgray; */
  }
  article {
    /* background-color: #eee; */
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }
  /* Arrow icon */
  summary::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.5rem solid #3e5c6d;
    border-inline: 0.4rem solid transparent;
  }
  details[open] > summary::after {
    transform: rotate(-180deg);
  }

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.flex_acc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
gap: 1rem;
}



.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}



</style>