---
import "../styles/generel.css"
---

<div class="blue">

<h1>KVINDERNE BAG PRODUKTET </h1>
<div class="picture_scroll">
<img src="../public/billeder/kvinde1.wepb" alt="">
<img src="../public/billeder/kvinde2.wepb" alt="">
<img src="../public/billeder/kvinde3.wepb" alt="">
</div>

<p class="citat">
    “At det er udsatte kvinder, som vi kan være med til at hjælpe tættere på arbejdsmarkedet og samtidig bidrage til at de får gode erfaringer på en arbejdsplads er meget meningsfuldt og et formål vi gerne vil støtte.”
</p>

</div>

<style>

.blue, .blue p, .blue h1{
    background-color: #3E5C6D;
    color: #fff;
    font-weight: normal;
}

.blue {
    width: 1400px;
}

.picture_scroll {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 540px;
    margin: 0 20px;
    /* width: 1000px; */
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.picture_scroll img {
    z-index: 1;
}

.citat {
    display: flex;
    text-align: center;
    width: 500px;
align-items: center;
margin: 0 auto;}

</style>