---
import "../styles/generel.css"
---

<div class="blue">

<h1>KVINDERNE BAG PRODUKTET </h1>
<div class="picture_scroll">


</div>

<p>
    “At det er udsatte kvinder, som vi kan være med til at hjælpe tættere på arbejdsmarkedet og samtidig bidrage til at de får gode erfaringer på en arbejdsplads er meget meningsfuldt og et formål vi gerne vil støtte.”
</p>

</div>

<style>

.blue, .blue p, .blue h1{
    background-color: #3E5C6D;
    color: #fff;
    font-weight: normal;
}

.blue {
    width: 1400px;
}


</style>