---
import "../styles/generel.css"
---

<section class="blue center">

<h1>KVINDERNE BAG PRODUKTET </h1>

<div class="picture_scroll">
<img src="/../../public/billeder/kvinde1.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde2.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde3.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde1.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde2.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde3.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde1.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde2.webp" alt="Kvinde som smiler">
<img src="/../../public/billeder/kvinde3.webp" alt="Kvinde som smiler">
</div>

<p class="citat">
    “At det er udsatte kvinder, som vi kan være med til at hjælpe tættere på arbejdsmarkedet og samtidig bidrage til at de får gode erfaringer på en arbejdsplads er meget meningsfuldt og et formål vi gerne vil støtte.”
</p>

<video autoplay loop src="../../public/videoer/visual_data_itmv.mp4"></video>

</section>

<style>
video {
    width: 100%;
    height: auto;
    display: block;
}

.blue, .blue p, .blue h1{
    background-color: #3E5D6C;
    color: #fff;
    font-weight: normal;
}
.center {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 3.2rem;
}



/* .blue * {
    margin: 0 auto;
} */

.picture_scroll {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 300px;
    /* margin: 0 20px; */
    /* width: 1000px; */
    overflow-x: scroll;
    gap: 50px;
    scroll-snap-type: x mandatory;
    /* margin-bottom: 10%;
    margin-top: 5%; */
    width: 400px
}

@media (min-width: 1000px) {

    video {
        width: 50%;
    }
.picture_scroll {
width: 800px;
} 
.citat {
    display: flex;
    text-align: center;
    width: 800px;
align-items: center;
margin: 0 auto;
font-size: 2rem;
}
.blue {
    width: auto;
}

.blue h1 {
    font-size: 5rem;
}
}

.citat, .blue h1 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
}

.blue h1 {
    font-size: 3rem;
    font-weight: normal;
}

.blue {
    padding: 100px 0 100px 0;
}
.picture_scroll img {
    z-index: 1;
    width: 270px;
    height: 250px;
}

.picture_scroll img:hover {
    scale: 1.2;
    transition: 1s;
    cursor: pointer;
}
.citat {
    padding: 10px;
    line-height: 42px;
}


</style>