---

---

<div class="billede">
    <img src="/img_sara/protraet.webp" alt="kvinde der syer" />
    <p class="tekst">
      "Der har stort set været plads til at have det som jeg nu <br /> havde det på dagen.
      <strong>Tonen og omgangsformen er venlig <br /> og rummelig</strong>, følte mig for det meste velkommen og værdsat."
    </p>
  </div>
  
  <style>
    p {
      font-size: 1rem;
      color: #d45835;
      line-height: 2;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  
    .billede {
      position: relative;
    }
  
    @media (min-width: 900px) {
      p {
        font-size: 2rem;
        top: 20px;
        left: 20px;
      }
    }
  </style>
---

---

<div class="billede">
  <img src="/img_sara/protraet.webp" alt="kvinde der syer" />
  <p class="tekst">
    "Der har stort set været plads til at have det som jeg nu <br /> havde det
    på dagen.
    <strong>Tonen og omgangsformen er venlig <br /> og rummelig</strong>, følte
    mig for det meste velkommen og værdsat."
  </p>
</div>

<style>
  p {
    font-size: 15px;
    color: #d45835;
    line-height: 2;
    position: absolute;
    top: 40px;
    left: 15px;
  }

  .billede {
    position: relative;
  }

  @media (min-width: 900px) {
    p {
      font-size: 2rem;
      top: 20px; /* Adjust the value as needed */
      left: 20px; /* Adjust the value as needed */
    }

    .tekst {
      left: 70px;
      top: 70px;
    }
  }
</style>
