---

---

<article>
  <div class="pinktop">
    <img src="/img/pinktop.svg" alt="pink farve" />
  </div>

  <div class="indhold">
    <div class="afsnit">
      <h2>Bæredygtighed på din arbejdsplads</h2>
      <p>Du ønsker at gøre genanvendelse let og tilgængeligt for dine medarbejdere samtidig med at du styrker din virksomheds miljø- og socialansvar som en del af jeres ESG mål. Ved at støtte "I Tråd Med Verden" (ITMV) hjælper du med at skabe flere lønnede timer til vores dygtige syersker, hvilket fremmer bæredygtig empowerment.</p>
    </div>

    <div class="blomst_v">
      <img src="/public/img/blomst_v.svg" alt="blomster broderi" />
    </div>

    <div class="afsnit">
      <h2>Nyt liv til gammelt tøj</h2>
      <p>Vores innovative team, bestående af to erfarne syersker og en talentfuld designer, tilbyder reparation, tilpasning og fornyelse af tøj til dine medarbejdere. Vi er her for at forlænge levetiden på jeres tøj og give det nyt liv med alt fra oplægning og lynlåsreparationer til detaljer som broderi.</p>
    </div>

    <div class="blomst_h">
      <img src="/public/img/blomst_h.svg" alt="blomster broderi" />
    </div>

    <div class="afsnit">
      <div class="bil"><img src="/public/img/bil.svg" alt="lille bil" /></div>

      <h2>Vi kommer ud til dig</h2>
      <p>Vi kommer direkte til din virksomhed i Københavnsområdet, hvilket gør det nemt for jer at få adgang til vores REPAIR SERVICE. Vi skaber en bekvem løsning, der passer ind i jeres travle arbejdsdag.</p>
    </div>

    <div class="afsnit">
      <h2>Fleksibelt og nemt</h2>

      <div class="kalender"><img src="/public/img/kalender.svg" alt="lille kalender" /></div>

      <p>Sammen aftaler vi en fast dag, f.eks. hver anden uge eller en gang om måneden, hvor vores team vil være tilgængeligt for drop in og aflevering af tøj om morgenen. Vi bestræber os altid på at fuldføre dagens reparationer samme dag, men vi er fleksible og tilpasser os efter jeres behov.</p>
    </div>

    <div class="plads"></div>
  </div>

  <div class="pinkbund">
    <img src="/img/pinkbund.svg" alt="pink farve" />
  </div>
</article>

<style>
  article {
    position: relative; /* Sørger for at komponentet kan rykkes */
    top: -6.6cm; /* Rykker hele komponentet op med 2 cm */
    margin-top: -10%;
  }
  .pinktop {
    position: relative;
    top: 129px;
    margin-bottom: -6%;
  }

  .pinkbund {
    position: relative;
    top: -195px;
    margin-top: -5%;
  }

  /* ret "top" til, når alt er sat ind, for placere .indhold rigtigt */
  .indhold {
    top: 106.5rem;
    width: 100%;
    background-color: rgba(255, 138, 179, 0.18);
  }

  .afsnit {
    padding-top: 80px;
    max-width: 500px;
    margin: auto;
  }

  article .indhold {
    margin: auto;
  }

  p {
    font-size: 15px;
    padding: 30px;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  .blomst_v {
    width: 140px;
    position: absolute;
    left: 0px;
    top: 460px;
  }

  .blomst_h {
    width: 120px;
    position: absolute;
    right: 0px;
    top: 465px;
  }

  .bil {
    width: 90px;
    top: 855px;
    left: 44px;
    position: absolute;
  }

  .kalender {
    width: 50px;
    top: 1100px;
    right: 80px;
    position: absolute;
  }

  .plads {
    padding-bottom: 80px;
  }

  @media (min-width: 900px) {
    article {
      position: relative; /* Sørger for at komponentet kan rykkes */
      top: -17cm; /* Rykker hele komponentet op med 2 cm */
      margin-top: -5%;
    }
    .pinktop {
      top: 300px;
      margin-bottom: -10%;
    }

    .plads {
      padding-bottom: 200px;
    }
    .pinkbund {
      top: -530px;
      margin-top: -8%;
    }
    .kalender {
      width: 80px;
    }

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 30px;
    }

    .afsnit {
      padding-top: 260px;
      max-width: 900px;
      margin: auto;
    }

    .indhold {
      top: 170rem;
      min-height: 3000px;
    }

    .blomst_v {
      width: 350px;
      position: absolute;
      top: 1150px;
    }

    .blomst_h {
      width: 350px;
      position: absolute;
      top: 1090px;
    }

    .bil {
      width: 180px;
      position: absolute;
      top: 2040px;
      left: 17rem;
    }

    .kalender {
      top: 2600px;
      position: absolute;
      right: 410px;
    }
  }
</style>
