---

---

<h1>SAMARBEJDET</h1>
<p>
  Når vi arbejder med håndarbejde, kan vi tydeligt opleve og
  <br />registrere en udvikling hos den enkelte deltager. <br />
   Håndarbejdet bliver det fælles tredje - som vi kan “tale” <br /> igennem og
  lære igennem.
</p>
<video autoplay loop>
  <source src="/public/video_sara/saks.mp4" />
</video>

<style>
  h1 {
    text-align: center;
    padding-bottom: 7%;
  }

  p {
    text-align: center;
    line-height: 1.5;
  }
  video {
    width: 100%;
  }
</style>
