---

---

<h1>SAMARBEJDET</h1>
<p>
  Når vi arbejder med håndarbejde, kan vi tydeligt opleve og registrere en
  udvikling hos den enkelte deltager. Håndarbejdet bliver det fælles tredje -
  som vi kan “tale” igennem og lære igennem.
</p>
