---
import "../styles/generel.css"
---

<section>
    <div class="container">
      <img src="/billeder/tehat.webp" alt="tehætte">
    </div>
<article>
    <h1>Hvad i får</h1>
    <p>Man møder ind som normalt på arbejdspladsen ➡️ går ned ➡️ afleverer sit yndlingstøj til syerskene. 
        Hent dit tøj når din arbejdsdag er omme voila dit tøj får nyt liv!</p>
</article>
</section>
<section>
<p>“Vi valgte at bruge repair-service så ansatte [...] også 
    kunne få glæde af ITMV’s færdigheder – som et medarbejdergode og for at gøre det let [...] for de ansatte at vælge en bæredygtig løsning.”
</p>
<p>- Camilla</p>
</section>