---
import "../styles/generel.css"
---

<header>
<menu>
    <ul><a href=""><li>Start</li></a></ul>
    <ul><a href=""><li>Samarbejdet</li></a></ul>
    <ul><a href=""><li>Mød os</li></a></ul>
    <ul><a href=""><li>Hvad i får</li></a></ul>
    <ul><a href=""><li>Bliv partner NU</li></a></ul>
</menu>
</header>