---

---

<div class="container">
  <video src="/mp4/gardin.mp4" autoplay loop muted> </video>

  <div class="logo">
    <img src="img/logoxkab.svg" alt="itmv x kab" />
  </div>

  <div class="overlay">
    <h2>“Der er en stor glæde, i samarbejdet med <strong>I Tråd Med Verden</strong>, det er nemt at koordinere og finde løsninger”</h2>
    <p>- Camilla Hansen</p>
  </div>

  <div id="specific-spot"></div>

  <a href="#specific-spot" class="arrow"> <img src="/img/pil.svg" alt="pil" /></a>

  <p></p>
</div>

<style>
  .arrow {
    width: 40px;
    left: 15rem;
    position: absolute;
    top: 240px;
  }
  .container {
    position: relative;
  }

  .container video {
    position: relative;
    z-index: 0;
  }

  .logo {
    position: absolute;
    top: 0;
    padding: 20px;
  }

  .logo img {
    width: 100px;
  }

  .overlay {
    position: absolute;
    top: 7rem;
    left: 3.5rem;
    z-index: 1;
    width: 400px;
    font-size: 15px;
    text-align: center;
    color: #d45835;
  }

  .overlay h2 {
    color: #d45835;
    font-weight: lighter;
  }

  .overlay p {
    text-indent: 250px;
    padding-top: 14px;
    color: #d45835;
  }

  strong {
    color: #df3b0e;
  }

  video {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 900px) {
    .container {
      position: relative;
    }

    .container video {
      position: relative;
      z-index: 0;
    }

    .logo {
      position: absolute;
      top: 2em;
    }

    .logo img {
      width: 300px;
      padding: 40px;
    }

    .overlay {
      position: absolute;
      top: 19rem;
      left: 22rem;
      z-index: 1;
      width: 800px;
      font-size: 30px;
      text-align: center;
      color: #d45835;
    }

    .overlay h2 {
      color: #d45835;
    }

    .overlay p {
      text-indent: 500px;
      color: #d45835;
    }

    video {
      width: 100%;
      height: 100%;
    }

    .arrow {
      width: 60px;
      left: 45rem;
      position: absolute;
      top: 740px;
    }
  }
</style>
